@import ".scss/mixins.scss";
@import ".scss/colors.scss";

#menu-to-edit {

	>li {
		.menu-item-bar {

			.menu-item-wpmi_open {
				position   : absolute;
				z-index    : 1;
				top        : 0;
				bottom     : 0;
				left       : 0;
				line-height: 42px;
				height     : 42px;
				cursor     : pointer;

				>i {
					@include transition(all 0.4s);
					width         : 42px;
					height        : 42px;
					line-height   : 42px;
					vertical-align: middle;
					display       : inline-block;
					position      : absolute;
					top           : 0;
					bottom        : 0;
					left          : 0;
					opacity       : 0.5;
					text-align    : center;
				}

				>i.menu-item-wpmi_plus {
					font-size     : 14px;
					vertical-align: bottom;
					margin        : 2px 0 0 0;
				}

				>i.menu-item-wpmi_icon+i.menu-item-wpmi_plus {
					opacity: 0;
					@include transform(scale(0.5));
				}

				&:hover {

					>i.menu-item-wpmi_icon {
						opacity: 0;
						@include transform(scale(0.1));
					}

					>i.menu-item-wpmi_plus,
					>i.menu-item-wpmi_icon+i.menu-item-wpmi_plus {
						opacity: 1;
						@include transform(scale(1));
					}
				}
			}

			.item-title {
				margin-left: 24px;
			}
		}
	}
}
