.wpmi__container-sidebar__item {
    padding: 0 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: 36px;
	span {
		margin-right: 10px;
	}

	&.is-active {
		color: #444;
		background-color: rgba(0,0,0,0.05);
	}

	> i {
		&:last-of-type {
			margin-left: auto;
		}
		&:first-of-type {
			margin-left: 0;
			margin-right: 10px;
		}
	}
}
