.wpmi__container-sidebar {
    padding: 10px;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}

.wpmi__container-sidebar__title {
    color: grey;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: solid 2px grey;
    width: 50%;
    text-align: center;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}