.container-sidebar {
    height: calc(100% - 100px);
    padding: 10px;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-sidebar li {
    padding-left: 20%;
    height: 40px;
    margin: 5px 0;
    font-weight: bold;
    color: grey;
    cursor: pointer;
    width: 90%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.container-sidebar li span {
    margin-right: 10px;
}

.container-sidebar li.active {
    color: #5396ff;
    background-color: #ebf2ff;
}

.container-sidebar li .dashicons-trash {
    color: red !important;
}

.container-sidebar li .dashicons-trash,
.container-sidebar li .dashicons-upload {
    margin-right: 45px;
    margin-left: auto;
}

.container-sidebar .title {
    color: grey;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: solid 2px grey;
    width: 50%;
    text-align: center;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}