.wpmi__button {
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 30px;
	margin: 10px 0 0 0;
	display: inline-block;
	background-color: #006cff !important;
	color: #ffffff !important;
	margin: 0 1em 0 0;

	&--secondary {
		background-color: #ffffff !important;
		color: #626262 !important;
	}
}
