body.version-5-1,
body.version-5-2,
body.version-5-3,
body.version-5-4,
body.version-5-5,
body.version-5-6,
body.version-5-7,
body.version-5-7,
body.version-5-9 {
  .media-modal {
    position: fixed !important;
    top: 30px !important;
    left: 30px !important;
    right: 30px !important;
    bottom: 30px !important;
    z-index: 160000;
  }

  .components-modal__header {
    display: none !important;
  }

  @keyframes components-modal__appear-animation {
    from {
      transform: translateY(32px);
    }
    to {
      transform: translateY(0);
    }
  }
}
