.icon-map {
	.attachment,
	.attachment-info {
		.thumbnail {
			vertical-align: middle;
			text-align: center;

			&:before {
				content: '';
				display: inline-block;
				width: 0px;
				height: 100%;
				vertical-align: middle;
			}

			>i {
				text-align: center;
				font-size: 3vw;
				display: inline-block;
				vertical-align: middle;
				height: auto;
				width: auto;
			}
		}
	}

	.attachment-info {
		.thumbnail {
			width: 60px;
			height: 60px;
			background-color: #fff;

			>i {
				font-size: 2em;
				position: relative;
				left: -1px;
			}
		}
	}
}