i {
	&.wpmi__icon {
		display: inline-block;

		&:not(.wpmi__label-1) {

			&.wpmi__position-before {
				margin-right: 0.5em;
			}

			&.wpmi__position-after {
				margin-left: 0.5em;
			}

		}

		&.wpmi__align-top {
			vertical-align: top;
		}

		&.wpmi__align-middle {
			vertical-align: middle;
		}

		&.wpmi__align-bottom {
			vertical-align: bottom;
		}
	}
}