.container-drop-zone {
	position: relative;
	width: 50%;
	height: 100%;
	border-radius: 25px;
	cursor: pointer;
	margin: 0 auto;
	background-color: white;
}

.drop-zone {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	font-weight: bold;
	flex-direction: column;
	color: grey;
}

.drop-zone__icon {
	font-size: 124px;
	width: auto;
	height: auto;
	margin-bottom: 15px;
}

.drop-zone__info {
	font-size: 16px;
}

.drop-zone__button {
	width: 70%;
	margin-top: 25px !important;
	color: white;
}