@import "./.scss/extend.scss";
@import "./.scss/style.scss";
@import "./app/**/scss/style.scss";
@import "./components/**/scss/style.scss";
@import "./components/**/scss/wordpress5x.scss";

//EditorSnackbars
.components-editor-notices__snackbar {
  bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
}
